BACKEND_PORT=8001
FRONTEND_PORT=3002

PLAYER_1=Ariel:????:#16a34a:#dcfce7:#f0fdf4:🦊
PLAYER_2=Ella:????:#db2777:#fce7f3:#fdf2f8:🦋
PLAYER_3=Lavi:????:#2563eb:#dbeafe:#eff6ff:🦁
PLAYER_4=Aria:????:#d97706:#fef3c7:#fffbeb:🌸

