BACKEND_PORT=8001
FRONTEND_PORT=3002

PLAYER_1=Player1:????:#16a34a:#dcfce7:#f0fdf4:🦊
PLAYER_2=Player2:????:#db2777:#fce7f3:#fdf2f8:🦋
PLAYER_3=Player3:????:#2563eb:#dbeafe:#eff6ff:🦁
PLAYER_4=Player4:????:#d97706:#fef3c7:#fffbeb:🌸

